## Train-Test Split with Scikit-Learn

In [36]:
import pandas as pd

data = pd.read_csv('auto-mpg.csv')
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [38]:
data.horsepower.unique()

array(['130', '165', '150', '140', '198', '220', '215', '225', '190',
       '170', '160', '95', '97', '85', '88', '46', '87', '90', '113',
       '200', '210', '193', '?', '100', '105', '175', '153', '180', '110',
       '72', '86', '70', '76', '65', '69', '60', '80', '54', '208', '155',
       '112', '92', '145', '137', '158', '167', '94', '107', '230', '49',
       '75', '91', '122', '67', '83', '78', '52', '61', '93', '148',
       '129', '96', '71', '98', '115', '53', '81', '79', '120', '152',
       '102', '108', '68', '58', '149', '89', '63', '48', '66', '139',
       '103', '125', '133', '138', '135', '142', '77', '62', '132', '84',
       '64', '74', '116', '82'], dtype=object)

In [39]:
#Replace'?' with '0'
data['horsepower']= data['horsepower'].replace("?", "0")

# Convert the horsepower column to an integer
data['horsepower']= data['horsepower'].astype(int)

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    int32
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int32(1), int64(4), object(1)
memory usage: 26.6+ KB

In [41]:
data.horsepower.unique()

array([130, 165, 150, 140, 198, 220, 215, 225, 190, 170, 160,  95,  97,
        85,  88,  46,  87,  90, 113, 200, 210, 193,   0, 100, 105, 175,
       153, 180, 110,  72,  86,  70,  76,  65,  69,  60,  80,  54, 208,
       155, 112,  92, 145, 137, 158, 167,  94, 107, 230,  49,  75,  91,
       122,  67,  83,  78,  52,  61,  93, 148, 129,  96,  71,  98, 115,
        53,  81,  79, 120, 152, 102, 108,  68,  58, 149,  89,  63,  48,
        66, 139, 103, 125, 133, 138, 135, 142,  77,  62, 132,  84,  64,
        74, 116,  82])

In [42]:
data.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [46]:
#sklearn.model_selection.train_test_split(*arrays, test_size=None, train_size=None, random_state=None, shuffle=True, stratify=None)

from sklearn.model_selection import train_test_split

train, test  = train_test_split(data)

In [47]:
train

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
112,19.0,4,122.0,85,2310,18.5,73,1,ford pinto
335,35.0,4,122.0,88,2500,15.1,80,2,triumph tr7 coupe
170,23.0,4,140.0,78,2592,18.5,75,1,pontiac astro
267,27.5,4,134.0,95,2560,14.2,78,3,toyota corona
389,22.0,6,232.0,112,2835,14.7,82,1,ford granada l
...,...,...,...,...,...,...,...,...,...
303,31.8,4,85.0,65,2020,19.2,79,3,datsun 210
77,22.0,4,121.0,76,2511,18.0,72,2,volkswagen 411 (sw)
51,30.0,4,79.0,70,2074,19.5,71,2,peugeot 304
140,14.0,8,304.0,150,4257,15.5,74,1,amc matador (sw)
178,23.0,4,120.0,88,2957,17.0,75,2,peugeot 504

In [48]:
test

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
192,22.0,6,250.0,105,3353,14.5,76,1,chevrolet nova
106,12.0,8,350.0,180,4499,12.5,73,1,oldsmobile vista cruiser
93,14.0,8,318.0,150,4237,14.5,73,1,plymouth fury gran sedan
209,19.0,4,120.0,88,3270,21.9,76,2,peugeot 504
87,13.0,8,350.0,145,3988,13.0,73,1,chevrolet malibu
...,...,...,...,...,...,...,...,...,...
165,20.0,8,262.0,110,3221,13.5,75,1,chevrolet monza 2+2
52,30.0,4,88.0,76,2065,14.5,71,2,fiat 124b
311,32.1,4,98.0,70,2120,15.5,80,1,chevrolet chevette
37,18.0,6,232.0,100,3288,15.5,71,1,amc matador
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu

In [49]:
y = data[['mpg']]
X = data.drop(['mpg', 'car name'], axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [50]:
X_train

,cylinders,displacement,horsepower,weight,acceleration,model year,origin
97,6,225.0,105,3121,16.5,73,1
342,4,135.0,84,2385,12.9,81,1
395,4,135.0,84,2295,11.6,82,1
201,6,250.0,110,3645,16.2,76,1
64,8,318.0,150,4135,13.5,72,1
...,...,...,...,...,...,...,...
137,8,350.0,150,4699,14.5,74,1
363,6,231.0,110,3415,15.8,81,1
218,4,79.0,58,1825,18.6,77,2
224,8,302.0,130,4295,14.9,77,1
219,4,122.0,96,2300,15.5,77,1

In [51]:
y_train

      mpg
97   18.0
342  30.0
395  32.0
201  18.5
64   15.0
..    ...
137  13.0
363  22.4
218  36.0
224  15.0
219  25.5

[298 rows x 1 columns]

In [67]:
y_train.mpg.unique()

array([16. , 27. , 37. , 36.1, 23. , 14. , 32.8, 29.9, 20. , 12. , 15.5,
       23.7, 24. , 36. , 19. , 38. , 29. , 21.5, 27.9, 22. , 18. , 17. ,
       26. , 13. , 33. , 32. , 28. , 19.2, 27.4, 20.6, 37.3, 16.2, 15. ,
       21. , 20.5, 25.4, 34.1, 31.6, 38.1, 40.8, 17.5, 35.1, 30.5, 33.7,
       22.5, 25.5, 16.5, 20.3, 33.8, 11. , 30. , 27.2, 20.2, 34.5, 18.5,
       31. , 19.4, 32.9, 31.5, 19.1, 35. , 29.5, 23.6, 34.2, 25. , 36.4,
       22.3, 19.8, 43.4, 33.5, 32.7, 17.6, 34. , 30.7, 10. , 28.4, 32.3,
       26.4, 32.2, 44.6, 39.4, 25.1, 43.1, 16.9,  9. , 34.3, 23.2, 44.3,
       29.8, 26.5, 32.4, 25.8, 27.5, 32.1, 18.6, 18.2, 23.9, 26.6, 46.6,
       35.7, 24.2, 22.4, 31.8, 30.9, 14.5, 41.5, 20.8, 17.7, 18.1, 24.3,
       28.8, 31.3, 39. , 21.6, 31.9, 39.1, 28.1, 40.9, 21.1, 37.7])

In [52]:
#view the lengths of the results
print(len(X_train), len(X_test), len(y_train), len(y_test))

298 100 298 100

However it is not recommended to pass in just the data to be split. This is because the randomization of the split means that you will get different results for `X_train` etc. every time you run the code. **For reproducibility, it is always recommended that you specify a `random_state`**

Another optional argument is `test_size`, which makes it possible to choose the size of the test set and the training set instead of using the default 75% train/25% test proportions.

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2 ,random_state=42)
print(len(X_train), len(X_test), len(y_train), len(y_test))

318 80 318 80

## Preparing Data for Modeling

When using a train-test split, data preparation should happen _after_ the split. 

This is to avoid ***data leakage***.

### Log Transformation

In [54]:
#class sklearn.preprocessing.FunctionTransformer(func=None, inverse_func=None, *, validate=False, accept_sparse=False, check_inverse=True, feature_names_out=None, kw_args=None, inv_kw_args=None
"""
validate bool, default=False
Indicate that the input X array should be checked before calling func. The possibilities are:

If False, there is no input validation.

If True, then X will be converted to a 2-dimensional NumPy array or sparse matrix. If the conversion is not possible an exception is raised.
"""

from sklearn.preprocessing import FunctionTransformer
import numpy as np

#Instantiate a custom transformer for log transformation
log_transformer = FunctionTransformer(np.log, validate=True)

#Columns to be log transformed
log_columns = ['displacement', 'horsepower', 'weight']

#New names for columns after transformation
new_log_columns = ['log_disp', 'log_hp', 'log_wt']

#log transform the training columns and convert them into a DataFrame
X_train_log = pd.DataFrame(log_transformer.fit_transform(X_train[log_columns]), columns=new_log_columns, index=X_train.index)

#Replace training columns with transformed versions
X_train = pd.concat([X_train.drop(log_columns, axis=1), X_train_log],axis=1)
X_train

c:\Users\User\anaconda3\envs\learn-env\lib\site-packages\sklearn\preprocessing\_function_transformer.py:171: RuntimeWarning: divide by zero encountered in log
  return func(X, **(kw_args if kw_args else {}))

     cylinders  acceleration  model year  origin  log_disp    log_hp    log_wt
3            8          12.0          70       1  5.717028  5.010635  8.141190
18           4          14.5          70       3  4.574711  4.477337  7.663877
376          4          18.2          82       3  4.510860  4.219508  7.613325
248          4          16.4          78       3  4.510860  4.094345  7.495542
177          4          15.0          75       2  4.744932  4.553877  7.898782
..         ...           ...         ...     ...       ...       ...       ...
71           3          13.5          72       3  4.248495  4.574711  7.753624
106          8          12.5          73       1  5.857933  5.192957  8.411610
270          4          14.8          78       3  4.897840  4.553877  7.830028
348          4          17.3          81       3  4.488636  4.127134  7.625595
102          4          21.0          73       2  4.574711  3.828641  7.575585

[318 rows x 7 columns]

In [55]:
#Log transform the test columns and convert them into a DataFrame
X_test_log = pd.DataFrame(log_transformer.transform(X_test[log_columns]), columns=new_log_columns, index=X_test.index)

#Replace testing columns with transformed versions
X_test = pd.concat([X_test.drop(log_columns, axis=1), X_test_log], axis=1)
X_test

c:\Users\User\anaconda3\envs\learn-env\lib\site-packages\sklearn\preprocessing\_function_transformer.py:171: RuntimeWarning: divide by zero encountered in log
  return func(X, **(kw_args if kw_args else {}))

     cylinders  acceleration  model year  origin  log_disp    log_hp    log_wt
198          4          17.4          76       3  4.510860  3.970292  7.492760
396          4          18.6          82       1  4.787492  4.369448  7.872836
33           6          13.0          71       1  5.446737  4.605170  7.876259
208          8          13.2          76       1  5.762051  5.010635  8.278936
93           8          14.5          73       1  5.762051  5.010635  8.351611
..         ...           ...         ...     ...       ...       ...       ...
249          8          15.5          78       1  5.560682  4.700480  8.121183
225          6          16.4          77       1  5.521461  4.700480  8.166216
367          4          19.6          82       1  4.718499  4.477337  7.865188
175          4          14.0          75       2  4.499810  4.248495  7.568896
285          8          15.4          79       1  5.720312  4.867534  8.253228

[80 rows x 7 columns]

### One-Hot Encoding

In [56]:
"""
class sklearn.preprocessing.OneHotEncoder(*, categories='auto', drop=None, sparse='deprecated', sparse_output=True, dtype=<class 'numpy.float64'>, handle_unknown='error', min_frequency=None, max_categories=None)

Encode categorical features as a one-hot numeric array.
"""

"\nclass sklearn.preprocessing.OneHotEncoder(*, categories='auto', drop=None, sparse='deprecated', sparse_output=True, dtype=<class 'numpy.float64'>, handle_unknown='error', min_frequency=None, max_categories=None)\n\nEncode categorical features as a one-hot numeric array.\n"

In [57]:
from sklearn.preprocessing import OneHotEncoder

#Instantiate OneHotEncoder
ohe = OneHotEncoder(handle_unknown='ignore', sparse=False)

#categorical columns
cat_columns = ['cylinders', 'model year', 'origin']

#Fit encoder on training set
ohe.fit(X_train[cat_columns])

#Get new columns names
new_cat_columns = ohe.get_feature_names(input_features=cat_columns)

# Transform training set
X_train_ohe = pd.DataFrame(ohe.fit_transform(X_train[cat_columns]), columns=new_cat_columns, index=X_train.index)

# Replace training columns with transformed versions
X_train = pd.concat([X_train.drop(cat_columns, axis=1), X_train_ohe], axis=1)
X_train

,acceleration,log_disp,log_hp,log_wt,cylinders_3,cylinders_4,cylinders_5,cylinders_6,cylinders_8,model year_70,...,model year_76,model year_77,model year_78,model year_79,model year_80,model year_81,model year_82,origin_1,origin_2,origin_3
3,12.0,5.717028,5.010635,8.141190,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
18,14.5,4.574711,4.477337,7.663877,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
376,18.2,4.510860,4.219508,7.613325,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
248,16.4,4.510860,4.094345,7.495542,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
177,15.0,4.744932,4.553877,7.898782,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,13.5,4.248495,4.574711,7.753624,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
106,12.5,5.857933,5.192957,8.411610,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
270,14.8,4.897840,4.553877,7.830028,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
348,17.3,4.488636,4.127134,7.625595,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
102,21.0,4.574711,3.828641,7.575585,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [58]:
#Transform testing set
X_test_ohe = pd.DataFrame(ohe.transform(X_test[cat_columns]), columns=new_cat_columns, index=X_test.index)

#Replace testing columns with transformed versions
X_test = pd.concat([X_test.drop(cat_columns, axis=1), X_test_ohe], axis=1)
X_test

,acceleration,log_disp,log_hp,log_wt,cylinders_3,cylinders_4,cylinders_5,cylinders_6,cylinders_8,model year_70,...,model year_76,model year_77,model year_78,model year_79,model year_80,model year_81,model year_82,origin_1,origin_2,origin_3
198,17.4,4.510860,3.970292,7.492760,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
396,18.6,4.787492,4.369448,7.872836,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
33,13.0,5.446737,4.605170,7.876259,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
208,13.2,5.762051,5.010635,8.278936,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
93,14.5,5.762051,5.010635,8.351611,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,15.5,5.560682,4.700480,8.121183,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
225,16.4,5.521461,4.700480,8.166216,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
367,19.6,4.718499,4.477337,7.865188,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
175,14.0,4.499810,4.248495,7.568896,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
285,15.4,5.720312,4.867534,8.253228,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

## Building, Evaluating, and Validating a Model

In [ ]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train, y_train)

y_hat_train = lr.predict(X_train)
y_hat_test = lr.predict(X_test)

In [ ]:
#Look at the residuals and calculate the MSE for training and test sets:
train_residuals = y_hat_train - y_train
test_residuals = y_hat_test - y_test

In [ ]:
mse_train = float(np.sum((y_train - y_hat_train)**2)/len(y_train))
mse_test = float(np.sum((y_test - y_hat_test)**2)/len(y_test))
print('Train Mean Squared Error:', mse_train)
print('Test Mean Squared Error:', mse_test)

#OR You can also do this directly using sklearn's mean_squared_error() function:

from sklearn.metrics import mean_squared_error

train_mse = mean_squared_error(y_train, y_hat_train)
test_mse = mean_squared_error(y_test, y_hat_test)
print('Train Mean Squared Error:', train_mse)
print('Test Mean Squared Error:', test_mse)

## Cross-Validation using Scikit-Learn

Cross-validation is a widely used technique in machine learning for evaluating the performance of a model on a given dataset. 

In this technique, the dataset is split into two parts - the training set and the validation set. 

The model is trained on the training set and then tested on the validation set. This process is repeated several times, with different splits of the data, and the average performance across all the splits is used as an estimate of the model's performance on unseen data.

Scikit-learn provides a convenient implementation of cross-validation through the `cross_val_score()` function.

This function takes as input a model, a dataset, and a number of cross-validation folds, and returns an array of scores, one for each fold.

In [2]:
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

#Load the iris dataset
iris = load_iris()

#Create a logistic regression model
model = LogisticRegression()

#Perform 5-fold cross-validation
scores = cross_val_score(model, iris.data, iris.target, cv=5)
scores

c:\Users\User\anaconda3\envs\learn-env\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

array([0.96666667, 1.        , 0.93333333, 0.96666667, 1.        ])

## Bias-Variance Tradeoff
The idea is that we can decompose the mean squared error as the sum of: 

- *bias* -> means a poor model fit. **High bias** leads to **underfitting**.
- *variance* -> means that the model's performance varies too much based on small fluctuations in the training set. **High variance** leads to **overfitting**.
- *irreducible error* -> If error is larger than 0, this may because of irreducible error, not because of underfitting or overfitting.

Formally, this is written as: 
$ MSE = Bias(\hat{f}(x))^2 + Var(\hat{f}(x)) + \sigma^2$.

### Calculate bias and variance

In [1]:
import numpy as np
def bias(y, y_hat):
    return np.mean(y_hat - y)


def variance(y_hat):
    return np.mean([yi**2 for yi in y_hat]) - np.mean(y_hat)**2

In [ ]:
# Bias and variance for training set 
b = bias(y_train, lm_train_predictions)
v = variance(lm_train_predictions)
print('Train bias: {} \nTrain variance: {}'.format(b, v))


# Bias and variance for test set 
b = bias(y_test, lm_test_predictions)
v = variance(lm_test_predictions)
print('Test bias: {} \nTest variance: {}'.format(b, v))

### Underfitting and Overfitting
Let's formalize this:
â€‹
> *Underfitting* happens when a model cannot learn the training data, nor can it generalize to new data.

The **simple linear regression** model fitted earlier was an **underfitted** model.
â€‹
> *Overfitting* happens when a model learns the training data too well. In fact, so well that it is not generalizeable to new data 

The **6-degree polynomial** was **overfitted**.
â€‹

## Ridge and Lasso Regression

In [ ]:
# Build a ridge, lasso and regular linear regression model  
# Note that in scikit-learn, the regularization parameter is denoted by alpha (and not lambda)
ridge = Ridge(alpha=0.5)
ridge.fit(X_train_transformed, y_train)

lasso = Lasso(alpha=0.5)
lasso.fit(X_train_transformed, y_train)

lin = LinearRegression()
lin.fit(X_train_transformed, y_train)

In [ ]:
# Generate preditions for training and test sets
y_h_ridge_train = ridge.predict(X_train_transformed)
y_h_ridge_test = ridge.predict(X_test_transformed)

y_h_lasso_train = lasso.predict(X_train_transformed)
y_h_lasso_test = lasso.predict(X_test_transformed)

y_h_lin_train = lin.predict(X_train_transformed)
y_h_lin_test = lin.predict(X_test_transformed)

In [ ]:
#Look at the MSE for training and test sets for each of the three models:

print('Train Error Ridge Model', mean_squared_error(y_train, y_h_ridge_train))
print('Test Error Ridge Model', mean_squared_error(y_test, y_h_ridge_test))
print('\n')
â€‹
print('Train Error Lasso Model', mean_squared_error(y_train, y_h_lasso_train))
print('Test Error Lasso Model', mean_squared_error(y_test, y_h_lasso_test))
print('\n')
â€‹
print('Train Error Unpenalized Linear Model', mean_squared_error(y_train, y_h_lin_train))
print('Test Error Unpenalized Linear Model', mean_squared_error(y_test, y_h_lin_test))

In [ ]:
# Prepare data
poly = PolynomialFeatures(degree=6)
X_train_poly = poly.fit_transform(X_train)
X_test_poly = poly.transform(X_test)

X_train_transformed = scale.fit_transform(X_train_poly)
X_test_transformed = scale.transform(X_test_poly)

# Fit models
ridge.fit(X_train_transformed, y_train)
lasso.fit(X_train_transformed, y_train)
lin.fit(X_train_transformed, y_train)

# Generate predictions
y_h_ridge_train = ridge.predict(X_train_transformed)
y_h_ridge_test = ridge.predict(X_test_transformed)
y_h_lasso_train = lasso.predict(X_train_transformed)
y_h_lasso_test = lasso.predict(X_test_transformed)
y_h_lin_train = lin.predict(X_train_transformed)
y_h_lin_test = lin.predict(X_test_transformed)

# Display results
print('Train Error Polynomial Ridge Model', mean_squared_error(y_train, y_h_ridge_train))
print('Test Error Polynomial Ridge Model', mean_squared_error(y_test, y_h_ridge_test))
print('\n')
print('Train Error Polynomial Lasso Model', mean_squared_error(y_train, y_h_lasso_train))
print('Test Error Polynomial Lasso Model', mean_squared_error(y_test, y_h_lasso_test))
print('\n')
print('Train Error Unpenalized Polynomial Model', mean_squared_error(y_train, y_h_lin_train))
print('Test Error Unpenalized Polynomial Model', mean_squared_error(y_test, y_h_lin_test))
print('\n')
print('Polynomial Ridge Parameter Coefficients:', len(ridge.coef_[ridge.coef_ != 0]), 
      'non-zero coefficient(s) and', len(ridge.coef_[ridge.coef_ == 0]), 'zeroed-out coefficient(s)')
print('Polynomial Lasso Parameter Coefficients:',  len(lasso.coef_[lasso.coef_ != 0]), 
      'non-zero coefficient(s) and', len(lasso.coef_[lasso.coef_ == 0]), 'zeroed-out coefficient(s)')
print('Polynomial Model Parameter Coefficients:',  len(lin.coef_[lin.coef_ != 0]), 
      'non-zero coefficient(s) and', len(lin.coef_[lin.coef_ == 0]), 'zeroed-out coefficient(s)')

## Data Preparation

The code below:

* Separates the data into `X` (predictor) and `y` (target) variables
* Splits the data into 75-25 training-test sets, with a `random_state` of 10
* Separates each of the `X` values into continuous vs. categorical features
* Fills in missing values (using different strategies for continuous vs. categorical features)
* Scales continuous features to a range of 0 to 1
* Dummy encodes categorical features
* Combines the preprocessed continuous and categorical features back together

In [ ]:
# Run this cell without changes
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder

# Create X and y
y = df['SalePrice']
X = df.drop(columns=['SalePrice'])

# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=10)

# Separate X data into continuous vs. categorical
X_train_cont = X_train.select_dtypes(include='number')
X_test_cont = X_test.select_dtypes(include='number')
X_train_cat = X_train.select_dtypes(exclude='number')
X_test_cat = X_test.select_dtypes(exclude='number')

# Impute missing values using SimpleImputer, median for continuous and
# filling in 'missing' for categorical
impute_cont = SimpleImputer(strategy='median')
X_train_cont = impute_cont.fit_transform(X_train_cont)
X_test_cont = impute_cont.transform(X_test_cont)
impute_cat = SimpleImputer(strategy='constant', fill_value='missing')
X_train_cat = impute_cat.fit_transform(X_train_cat)
X_test_cat = impute_cat.transform(X_test_cat)

# Scale continuous values using MinMaxScaler
scaler = MinMaxScaler()
X_train_cont = scaler.fit_transform(X_train_cont)
X_test_cont = scaler.transform(X_test_cont)

# Dummy encode categorical values using OneHotEncoder
ohe = OneHotEncoder(handle_unknown='ignore')
X_train_cat = ohe.fit_transform(X_train_cat)
X_test_cat = ohe.transform(X_test_cat)

# Combine everything back together
X_train_preprocessed = np.concatenate([X_train_cont, X_train_cat.todense()], axis=1)
X_test_preprocessed = np.concatenate([X_test_cont, X_test_cat.todense()], axis=1)